@import './reset.css';

body {
  font-family: 'Inter', system-ui;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: 'Inter', 'sustem-ui';
}

/* ----- container ----------------- */
.container {
  max-width: 1080px;
  margin: 50px auto;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

/* ----- header----------------- */
.header {
  border-bottom: 1px solid #eaeaea;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__info {
    display: flex;
    align-items: center;
  }
  &__description {
    margin-left: 16px;
  }
  &__list {
    display: flex;
  }
  &__title {
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
  }
  &__text {
    opacity: 0.5;

    font-size: 14px;
    font-weight: 400;
  }
  &__item {
    cursor: pointer;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__span {
    margin-left: 10px;
  }
}

/* ------- footer block ------------- */
.footer {
  padding: 40px;
  font-size: 32px;
  font-weight: 700;
  &__search-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 157px;
}
.form {
  display: flex;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  &__input {
    border: none;
    width: 200px;
    border: 0;
    padding: 13px;
    font-size: 16px;
  }
  &__input:focus {
    outline: none;
  }
}

/* ------ overlay block ------------- */
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;

  &__right-side {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    position: absolute;
    width: 420px;
    height: 100%;
    right: 0;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
  }
  &__cart-Items {
    margin-bottom: 40px;
    overflow: auto;
    flex: 1;
  }
  &__cart-Item {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  &__desc {
    margin-left: 20px;
    margin-right: 12px;
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  &__b {
    font-size: 14px;
    font-weight: 700;
  }
  &__list {
    margin-bottom: 20px;
    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfddfd;
      position: relative;
      top: -2px;
      margin: 0 7px;
    }
  }

  &__item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  &__btn {
    width: 100%;

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
      &:hover {
        transform: translateX(5px);
      }
    }
    transition: background 0.1s ease-in-out;
    &:hover {
      background: lighten($color: #9dd558, $amount: 5%);
    }
    &:active {
      background: darken($color: #9dd558, $amount: 5%);
    }
  }
  &__emptyCartImg {
    padding-top: 309px;
    margin: 0 auto;
  }
  &__emptyTitle {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
  }
  &__emptyText {
    padding-top: 9px;
    padding-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.4;
    text-align: center;
  }
  &__emptyBtn {
    img {
      position: absolute;
      left: 30px;
      transition: transform 0.15s ease-in-out;
      &:hover {
        transform: translateX(5px);
      }
    }
    transition: background 0.1s ease-in-out;
    &:hover {
      background: lighten($color: #9dd558, $amount: 5%);
    }
    &:active {
      background: darken($color: #9dd558, $amount: 5%);
    }
  }
}

/* reusable class for removeBtn */
.removeBtn {
  opacity: 0.5;
  cursor: pointer;
  transform: opacity 0.15s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

/* reusable class for greenBnt */
.greenBtn {
  position: relative;
  height: 55px;
  border: none;
  background: #9dd558;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;

  &:disabled {
    animation: button-loading 0.6s ease-in-out infinite;
    background: #bebebe;
    cursor: default;
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* Empty component */
.empty {
  margin: 0 auto;
  padding: 240px;
  width: 290px;
  height: 278px;
  &__button {
    width: 100%;
  }
  &__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  &__heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 11px;
  }

  &__text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    opacity: 40%;
    margin-bottom: 41px;
  }
}
/* Empty component */

/* orders */
.orders {
  &__container {
    justify-content: start;
  }
  &__heading {
    margin-left: 15px;
  }
  &__img {
    position: relative;
    left: 10px;
  }
}
/* orders */

/* ------- Adaptive section ---------------- */
/* ------- Adaptive section ---------------- */
